{# add your footer here
to access footer data use {{ partials.footer.field_name }} #}
<!-- footer code start from here -->
            <div class="footer">
                <div class="footer-container">
                    <div class="footer-contact">
                    {%for x in partials.footer.address%}
                        <div class="contact">
                            <i class="{{x.font_awesome}} size-32 margin-bottom-20" style="color: #a21c16"></i>
                            {{x.detail}}
                        </div>
                        {%endfor%}
                        
                    </div>
                    <div class="footer-social-cont">
                        <div class="footer-social">
                            <div class="copy-right">
                                {{partials.footer.copy}}
                            </div>
                            <div class="social">
                                {%for x in partials.footer.social%}
                                <a href="{{x.link.href}}">
                                    <i class="{{x.link.title}}" aria-hidden="true"></i>
                                </a>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to top button code start -->
    <div onclick="topFunction()" id="myBtn" class="go-to-top">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>
        
    <!-- Back to top button code end -->