{# add your header here 
to access header data use {{ partials.header.field_name }} #}

<div class="main-div">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{partials.header.menu[0].link.href}}">
                        <img alt="Brand" src="{{partials.header.logo.url}}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{partials.header.menu[0].link.href}}">{{partials.header.menu[0].link.title}}
                                <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="{{partials.header.menu[1].link.href}}">{{partials.header.menu[1].link.title}}</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{partials.header.menu[2].link.title}}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{partials.header.menu[2].sub_menu[0].link.href}}">{{partials.header.menu[2].sub_menu[0].link.title}}</a>
                                </li>
                                <li>
                                    <a href="{{partials.header.menu[2].sub_menu[1].link.href}}">{{partials.header.menu[2].sub_menu[1].link.title}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{partials.header.menu[3].link.href}}">{{partials.header.menu[3].link.title}}</a>
                        </li>
                        <li>
                            <a href="{{partials.header.menu[4].link.href}}">{{partials.header.menu[4].link.title}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <select id="language">
                                <option value="/">{{partials.header.language[0]}}</option>
                                <option value="/es/">{{partials.header.language[1]}}</option>
                                <option value="/zh/">{{partials.header.language[2]}}</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>

<!-- Header code end -->
