
@media only screen and (max-width: 1200px){
    .wrapper {
    width: 98%;
    margin: 0 auto;
    }
}
    
    @media only screen and (max-width: 992px){
    .wrapper{
        width: 95%;
        margin: 0 auto;
    }
    .testimonial-container {
        display: flex;
        flex-direction: column;
    }
    .testimonial-content {
        width: 50%;
    }
    .testimonial-image {
        width: 100%;
        margin: 10px 0px;
    }
    .banner {
        margin-top: 55px;
    }
    
}
    
    @media only screen and (max-width: 778px) {
        .main-container {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .header-container {
            width: 100%;
            background-color: #3f51b5;
            position: relative;
        }
        .wrapper{
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    .row{
         display: block;
        padding: 40px 0px;
        align-items: center;
        line-height: 1.6em;
    }
    .logo{
        float: left;
        width: 50%;
    }
    .menu{
        float: right;
        width: 18%;
    }
    menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
    }
    
    menu li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    menu li a.active {
        color: white;
    }
    
    menu li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
    .lang{
        width: 5%; 
    }
    .menu .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    
    .row-support {
        width: 100%;
        line-height: 1.6em;
        text-align: center;
        margin: 10px 0px;
    }
    .support-one {
        width: 33%;
        display: contents;
    }

    .services {
        width: 100%;
        background-color: #f6f6f6;
    }
    .services-item {
        width: 100%;
    }
    .serv-container {
        padding: 50px 0px;
    }
    .services-item {
        width: 100%;
        
    }
    .service-images {
        width: 100%;
        text-align: center;
    }
    .service-images img{width: 50%;}

    .work-container {
        width: 100%;
        clear: both;
    }
    .work-description {
        width: 100%;
        font-size: 1.2em;
        margin-top: 10px;
        float: none;
    }
    .work-btn {
        margin-top: 17px;
        float: none;
        text-align: center;
    }

    .testimonial-container {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .testimonial-image {
        width: 94%;
    }
    .testimonial-image img {
        width: 94%;
    }
    .testimonial-image .overlay{
        width: 94%;
    }
    .testimonial-content {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 0px;
    }
    .testimonial-name {
        margin: 20px 0px; 
        width: 94%;
        clear: both;
    }

    .accordion-service {
        width: 100%;
        margin: 0px 0px;
        padding-top: 40px;
    }

    .container{width: 100%;
    } 
    
    .footer-contact {
        display: block;
        text-align: center;
       
        padding: 60px 0px;
    }
    .footer-contact .contact {
        width: 100%;
        margin-top: 10px;
    }
    .copy-right {
        width: 100%;
        float: none;
        margin-top: 18px;
        text-align: center;
    }
    .social {
        padding: 10px;
        width: 100%;
        float: none;
        text-align: center;
    }
    .social a {
        float: none;
    }

    .status-content p {
        margin-left: 0;
        margin-right: 0;
    }

    .content-one span {
        display: block;
        margin: 20px 0px;
    }
    #myBtn{
        display: none !important;
       
    }
}